.hobby {
    .hobby-title {
        padding-top: 20px;
    }
    button {
        margin: 20px auto 0;
    }
    .hobby-content {
        padding-top: 20px;
    }
    p {
        padding-bottom: 10px;
    }
    .martual-art-card {
        padding-right: 20px;
    }
    img {
        height: 123px;
    }
}